swap_tiled_layout name="stacked" {
	ui min_panes=4 {
		pane split_direction="horizontal" {
			pane split_direction="vertical" {
				code size="60%"

				pane stacked=true {
					git
					explorer
				}

				terminal size="30%"
			}
		}
	}
}
