[user]
	email = git@tkachuk.email
	name = Ivan Tkachuk
  signingkey = B336C5A4

[core]
	quotePath = false
	ignorecase = false
	editor = flatpak run re.sonny.Commit

[commit]
	verbose = true
	gpgSign = true

[push]
	default = current
	autoSetupRemote = true

[alias]
	st = status
	ls = ls-files
	fa = fetch --all
	remotes = remote -v
	branches = branch -v -a
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
	find = "!git ls-files | grep -i"
	rg = grep -Ii
	aliases = "!git config -l | grep alias | cut -c7-"
	clear = clean -fd
	nevermind = reset --hard HEAD
	undo = reset --soft HEAD~1
	new = checkout -b

[fetch]
	parallel = 10

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential

[url "ssh://git@github.com/"]
	instedaOf = https://github.com/

[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
