[Desktop Entry]
Type=Application
Name=org.gnome.Fractal
Exec=flatpak run --command=fractal org.gnome.Fractal --gapplication-service
X-Flatpak=org.gnome.Fractal
